<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="example-form" (ngSubmit)="register()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name" name="fName" [(ngModel)]=user.fName>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" name="lName" [(ngModel)]=user.lName>
        </mat-form-field>
        <mat-form-field class="example-full-width" [class.has-error]="email.invalid && email.touched">
          <input matInput placeholder="Email" required email type="text" class="form-control" name="email"
                 [(ngModel)]="user.email" #email="ngModel">
          <span class="mat-error" *ngIf="email.errors?.required && email.touched"> Email is required
          </span>
          <span class="mat-error" *ngIf="email.errors?.email && email.touched"> Email is Invalid</span>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" name="password" placeholder="Password" required minlength="6"
                 [(ngModel)]=user.password #password="ngModel">
          <span class="mat-error" *ngIf="password.errors?.required && password.touched"> Password is required
          </span>
          <span class="mat-error" *ngIf="password.errors?.password && password.touched"> Password is Invalid</span>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Mobile Number" name="phoneNumber" [(ngModel)]=user.phoneNumber>
        </mat-form-field>
        <div style="color: red" *ngFor="let err of errors">
          {{ err }}
        </div>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block" type="submit">Register</button>
      <p class="message">Have an account? <a href="/auth">Log In</a></p>
    </form>
  </mat-card>
</div>
