.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.login-wrapper {
  height: 100vh;
  background-image: url('~src/assets/img/5.jpg');
  background-position: top; /* Center the image */
  background-size: 100% 100%;
  background-repeat: repeat;
}

