<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Insert new password</mat-card-title>
    </mat-card-header>

    <form class="example-form"  (ngSubmit)="submit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" name="password" placeholder="Repeat password" [(ngModel)]="confirmPassword">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block" type="submit">Submit</button>
      <div>
        <small *ngFor="let error of errors" style="color: red">
          * {{ error }}
        </small>
      </div>
    </form>
  </mat-card>

</div>
