.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background: inherit;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.active-list-item {
  color: #000000 !important;
  background-color: #6e82db !important;
}

.logout{
  display: flex;
  justify-content: flex-end;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}
.logout{
  color: lavender;
}
.example-card {
  max-width: 200px;
}

.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9P4cKEb7yoU5HcuO2cxnBEWZ3xTCVB0VkWA&usqp=CAU');
  background-size: cover;
}



