<div class="login-wrapper">
  <form class="form-signin" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Reset Password</h3>
    <p class="mb-4">Provide valid email id to reset your account's password.</p>

    <!-- Error -->
    <div *ngIf="errors != null" class="alert alert-danger mt-3">
      {{ errors }}
    </div>

    <div *ngIf="successMsg != null" class="alert alert-primary mt-3">
      {{ successMsg?.message }}
    </div>

    <!-- Login -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <button type="submit" class="btn btn-block btn-primary" >
      Reset Password
    </button>

  </form>
</div>
